*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    color: #222;
}

/* Navbar */

.navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    border-bottom: 3px solid #dc2626;
    z-index: 1000;
}

.logo{
    font-size: 34px;
    font-weight: bold;
    color: #dc2626;
}

.logo span{
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* Nav Links */

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color: #222;
    position: relative;
}

.nav-links a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #dc2626;
    left: 0%;
    bottom: -3px;
    transition: 0.3s;
}

.nav-links a:hover::after{
    width: 100%;
}

/* Menu */

#menu{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Home */

.arena-logo{
    width:220px;
    margin-bottom: 20px;
    display: block;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 140px 8% 80px;
}

.home-text{
    flex: 1;
}

.small-text{
    font-size: 14px;
    margin-bottom: 15px;
    color: #555;
}

.home-text h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text span{
    color: #dc2626;
}

.home-para{
    color: #555;
    line-height: 1.7;
    margin-bottom: 25px;
}

.button{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #dc2626;
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 6px;
}

.button:hover{
    background: #facc15;
    color: black;
}

/* First Image */

.home-image{
    flex: 1;
}

.home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

/* Section */

.section{
    padding: 80px 8%;
}

.section h2{
    text-align: center;
    font-size: 40px;
}

.underline{
    width: 70px;
    height: 4px;
    background: #facc15;
    margin: 15px auto 40px;
}

/* Grid */

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}


/* Card */

.card{
    background: white;
    padding: 35px 25px;
    border-radius: 12px;
    border-top: 4px solid #dc2626;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.icon{
    width: 80px;
    height: 80px;
    background: #fff1f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.icon i{
    font-size: 35px;
    color: #dc2626;
}

.card h3{
    margin-bottom: 12px;
    color: #dc2626;
}

.card p{
    line-height: 1.6;
    color: #555;
}

/* Why Choose Arena Animation GTB Nagar */

.why-grid{
   display: grid;
   grid-template-columns: repeat(4,1fr); 
   gap: 25px;
   margin-top: 40px;
}


.why-box{
    background: white;
    padding: 35px 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    border-bottom: 4px solid #dc2626;
    border-top: 4px solid #dc2626;
}

.why-box i{
    font-size: 35px;
    color: #dc2626;
    margin-bottom: 20px;
    display: block;
}

.why-box h3{
    margin-bottom: 12px; 
    color: #dc2626;
}

.why-box p{
    color: #555;
    line-height: 1.6;
}

/* Blog */

.blog-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.blog-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    border-bottom: 4px solid #dc2626;
}

.blog-card img{
    width: 100%;
    height: 55%;
}

.blog-content{
    padding:20px ;
}

.blog-content h3{
    color: #dc2626;
    margin-bottom: 10px;
}

.blog-content p{
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.blog-content a{
    color: #dc2626;
    text-decoration: none;
    font-weight: bold;
}


/* Mobile Screen */

@media(max-width:600px){
    .menu-icon{
        display: block;
    }

    .nav-links{
        position: absolute;
        top:100%;
        right: 0px;
        width: 220px;
        background: white;
        flex-direction: column;
        padding: 20px;
        display: none;
        border: 1px solid #ddd;
    }

    #menu:checked ~ .nav-links{
        display: flex;
    }

    .arena-logo{
        width: 150px;
    }

    .home{
        flex-direction: column;
        padding-top: 120px;
    }

    .hero-image{
        width: 100%;
        height: 350px;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .why-grid{
        grid-template-columns: 1fr;
    }

    .blog-grid{
        grid-template-columns: 1fr;
    }
}